{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <title>The Glowing Stripes Project - Control Interface</title>
        
        <link rel="stylesheet" href="{% static "styles.css" %}" />
        <link rel="stylesheet" href="{% static "popup.css" %}" />
        <link rel="stylesheet" href="{% static "buttons.css" %}" />
        <link rel="stylesheet" href="{% static "icons.css" %}" />
        <link rel="stylesheet" href="{% static "leds.css" %}" />

        <script src="{% static "axios.min.js" %}"></script>
        <script src="{% static "popup.js" %}"></script>
        <script src="{% static "power.js" %}"></script>
        <script src="{% static "software_update.js" %}"></script>
        <script src="{% static "wifi.js" %}"></script>
        <script src="{% static "leds.js" %}"></script>
        <script src="{% static "control.js" %}"></script>
        <script src="{% static "connection_check.js" %}"></script>
    </head>

    <body class="background darkmode" onload="boot()">

        <div class="header_overlay">
            <a class="cta darkmode with_icon move">Edit layout</a>
        </div>

        <div class="leds_preview_block">
        </div>

        <div class="main_window">

            <div class="main_window_content">
                
                <div class="left_aligned_maincontent">


                    <div>
                        <div class="fixed_bottom_left">
                            <a class="cta darkmode with_icon save">Save mix</a>
                        </div>
                        <div class="fixed_bottom_right">
                            <a class="cta darkmode with_icon undo">Undo</a>
                            <a class="cta primary with_icon true">Apply</a>
                        </div>
                    </div>

                </div>

            </div>

            <div id="disconnected_info"></div>

        </div>
    
        <div class="shadow"></div>

        <div class="mixes">
        
            <div class="mix_entry" id="s22swdd">
                Glow mix
                <div class="right_positioned">
                    <a class="cta darkmode with_icon delete">Delete</a>
                    <a class="cta darkmode with_icon share">Share</a>
                </div>
            </div>

        </div>

        <div class="sub_menu">
            <a id="software_update_button" onclick="software_update.update()" class="icon large_inline sync"></a>
            <a id="power_button" onclick="power.show_options()" class="icon large_inline power"></a>
            <a id="show_wifi_networks_button" onclick="wifi.show_networks()" class="icon large_inline wifi_{% if connected_to_internet == True %}online{% else %}local{% endif %}"></a>
        
        </div>

        <div id="notifications">
        </div>

        <div class="popup opacity_null display_none" id="popup">
            <div class="main_window popup_content" id="popup_content">
                <div class="popup_button close" onclick="popup.hide()"></div>
                <div class="popup_headline" id="popup_headline"></div>
                <div class="popup_message" id="popup_message"></div>
                <div class="popup_buttons" id="popup_buttons"></div>
            </div>
        </div>

    </body>

</html>