[Unit]
Description=Automatically generates an internet Hotspot when a valid ssid is not in range
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /home/host/the-glowing-stripes-project/autohotspot.bash

[Install]
WantedBy=multi-user.target