[Unit]
Description=Start The Glowing Stripes Project
After=multi-user.target

[Service]
Type=idle
ExecStart=bash the-glowing-stripes-project/services/development_tmux_windows.bash

[Install]
WantedBy=multi-user.target