[Unit]
Description=Start The Glowing Stripes Project
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /bin/bash /home/host/the-glowing-stripes-project/services/development_tmux_windows

[Install]
WantedBy=multi-user.target