[Unit]
Description=Start LED animation
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/sudo /home/host/the-glowing-stripes-project/pyvenv/bin/python /home/host/the-glowing-stripes-project/start_animation.py

[Install]
WantedBy=multi-user.target