.cta {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    padding-right: 14px;
    padding-left: 14px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 6px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    top: 0;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    text-decoration: none;
}

.cta:hover {
    top: -5px;
    cursor: pointer;
}

.cta.primary {
    background: #FF3F3F;
    color: #FFFFFF;
}

.cta.secondary {
    background: #FFFFFF;
    color: #575757;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
}

.cta.darkmode {
    background: #2F2F2F;
    color: #FFFFFF;
    border: 1px solid #414141;
    box-sizing: border-box;
}

.with_icon {
    padding-left: 35px;
    background-repeat: no-repeat !important;
    background-position: left 10px center !important;
    background-size: 17px 17px !important;
}